<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu_frame"/>
        <origin xyz="0.15 0 0.175" rpy="0 0 0"/>
    </joint>
    <link name="imu_frame">
            <visual>
                <geometry>
                    <cylinder radius="0.02" length="0.03"/>
                </geometry>
                <material name="blue"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="0.02" length="0.03"/>
                </geometry>
            </collision>
            <xacro:inertial_cylinder mass="0.1" length="0.03" radius="0.02">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_cylinder>
    </link>
  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>10.0</updateRate>
    </plugin>
  </gazebo>
</robot>